@model Camping.Models.DTO.ProductDTO

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spec)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spec)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>
    <a asp-action="ProductGetAll">Back to All Products</a>
</div>
